.slider-cont {
    /* width: 100vw; */
    padding: 3rem
}

.review-cnt {
    /* overflow: hidden; */
}

.review-main {
    background: #656f8d;
}

.review-test {
    text-align: center;
    padding: 5rem 5rem 0;
}

.card-title {
    text-align: center;
}

/* 
div .rev-card{
    width: 80%;
}

.rev-card {
     width: 80%;
    height: 300px; 
    /* box-shadow: 7px 2px 24px 5px rgb(0 0 0 / 10%); */
    /* background: hotpink; */
    /* gap: 3px; */
    /* margin-right: 2px; */


    .image {
        width: 130px;
        border-radius: 50%;
    }

    span {
        display: block;
        margin-bottom: 5px;
    }

    .card-details {
        width: 60%;
    }

    .icon {
        margin-top: 25px;
        color: #2e50b1;
    }

    .date {
        margin-top: 30px;
        color: #2e50b1;
    }

    .card-main {
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 14%);
        margin-right: 5px;
        width: 90%!important;
    }

    .slick-slider {
        /* margin-top: 3rem; */
        text-align: center;
        display: flex;
        justify-content: center;
        padding: auto;
    }

    .slick-list {
        width: 85%;
    }

    .slick-track {
        overflow: hidden;
    }

    /* carousel image */

    .item{
       /* background: #6e7faf; */
       
       height: 500px;
     
    }

    .item img {
        margin-left: 35rem;
    }

    .img-slide {
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    

    .carousel {
        margin-top: 56px;
        /* background: #242e4a; */
       background: #656f8d;
    }